@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using VecozoWeb.Models
@model GebruikersVM
@{
    ViewData["Title"] = "Register";
}
<head>
    <script type="text/javascript">
                        function Update(){
                            var select = document.getElementById('admin');
                            var option = select.options[select.selectedIndex];
                            document.getElementById('text').value = option.text;
                            document.getElementById('textID').value = option.value;
                        }

                        function UpdateTeam(){
                            var select = document.getElementById('team');
                            var option = select.options[select.selectedIndex];
                            document.getElementById('mijnTeam').value = option.text;
                            document.getElementById('teamID').value = option.value;
                        }

                        function GetRadioButtonChecked(){
                            var rbtnAdmin = document.getElementById('Admin');
                            var rbtnMedewerker = document.getElementById('Medewerker');
                            if(rbtnAdmin.checked)
                            {
                                return "True";
                            }
                            else
                            {
                                return "False";
                            }
                        }

                        function HideAdmins(){
                            if(document.getElementById('Admin').checked)
                            {
                                document.getElementById('adminPanel').style.visibility = 'hidden'
                            }
                            else
                            {
                                document.getElementById('adminPanel').style.visibility = 'visible'
                            }
                        }

                        function ValidCheck(){
                            var selectTeam = document.getElementById('team');
                            var selectAdmin = document.getElementById('admin');
                            var rbtnAdmin = document.getElementById('Admin');
                            var optionTeam = selectTeam.options[selectTeam.selectedIndex];
                            var optionAdmin = selectAdmin.options[selectAdmin.selectedIndex];
                            if(rbtnAdmin.checked == false)
                                {
                                    if(optionAdmin.text !== "" && optionTeam.text !== "")
                                    {
                                       return true;
                                    }
                                    else{
                                       document.getElementById('teampie').innerHTML = "Team en leidinggevende kiezen is verplicht."
                                        return false;
                                    }
                                }
                                else
                                {
                                    return true;
                                }
                        }
        function removeSpaces(string) { return string.split(' ').join(''); }
    </script>
</head>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Account maken</h3>
                        <form asp-action="Register" asp-method="post" onsubmit="return ValidCheck()">
                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="firstName" class="form-control form-control-lg" onblur="this.value=removeSpaces(this.value);" asp-for="@Model.Medewerker.Voornaam" required />
                                        <label class="form-label" asp-for="@Model.Medewerker.Voornaam">Voornaam</label> 
                                    </div>
                                    <span asp-validation-for="Medewerker.Voornaam" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="tussenvoegsel" class="form-control form-control-lg" onblur="this.value=removeSpaces(this.value);" asp-for="@Model.Medewerker.Tussenvoegsel" />
                                        <label class="form-label" asp-for="@Model.Medewerker.Tussenvoegsel">Tussenvoegsel</label>
                                    </div>
                                    <span asp-validation-for="Medewerker.Tussenvoegsel" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="lastName" class="form-control form-control-lg" onblur="this.value=removeSpaces(this.value);" asp-for="@Model.Medewerker.Achternaam" required />
                                        <label class="form-label" asp-for="@Model.Medewerker.Achternaam">Achternaam</label>
                                    </div>
                                    <span asp-validation-for="Medewerker.Achternaam" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="email" id="emailAddress" class="form-control form-control-lg" onblur="this.value=removeSpaces(this.value);" asp-for="@Model.Medewerker.Email" required />
                                        <label class="form-label" asp-for="@Model.Medewerker.Email">Email</label>
                                    </div>
                                    <span asp-validation-for="Medewerker.Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <input type="password" id="wachtwoord" class="form-control form-control-lg" onblur="this.value=removeSpaces(this.value);" asp-for="@Model.Medewerker.Wachtwoord" required />
                                        <label class="form-label" for="wachtwoord">Wachtwoord</label>
                                    </div>
                                    <span asp-validation-for="Medewerker.Wachtwoord" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8" id="adminPanel">
                                    <label class="form-label select-label">Leidinggevende</label><br>
                                    <select id="admin" class="select form-control-sm" onchange="Update()">
                                        <option type="hidden" value="1" selected disabled></option>
                                        @foreach (var leid in Model.Leidinggevenden)
                                        {
                                            <option value="@leid.UserID">@leid.ToString()</option>
                                        }
                                    </select>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <input type="hidden" id="text" class="form-control form-control-lg" onfocus="$(this).blur()" required />
                                            <input type="hidden" asp-for="@Model.Leidinggevende.UserID" id="textID" class="form-control form-control-lg" />
                                            <input type="hidden" asp-for="@Model.Medewerker.IsAdmin" id="textAdmin" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <label class="form-label select-label">Team</label><br>
                                    <select id="team" class="select form-control-sm" onchange="UpdateTeam()">
                                        <option type="hidden" value="1" selected disabled></option>
                                        @foreach (var team in Model.Teams)
                                        {
                                            <option value="@team.Id">@team.ToString()</option>
                                        }
                                    </select>
                                    <div class="form-outline">
                                        <p id="teampie" style="color:red"></p>
                                        <input type="hidden" id="mijnTeam" class="form-control form-control-lg" onfocus="$(this).blur()" required />
                                        <input type="hidden" asp-for="@Model.Team.Id" id="teamID" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4" onchange="document.getElementById('textAdmin').value = GetRadioButtonChecked();HideAdmins();">
                                    <h6 class="mb-2 pb-1">Rol: </h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Admin"
                                               value="option1" />
                                        <label class="form-check-label" for="Admin">Admin</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Medewerker"
                                               value="option2" checked />
                                        <label class="form-check-label" for="Medewerker">Medewerker</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

