@using VecozoWeb.Models
@model MedewerkerVM
@{
    ViewData["Title"] = "Index";
}


<div id="PlaceHolderHere"></div>
<h3>@Model.GetFullName()'s Vaardigheden</h3>
<body>
    <table class="table table-hover" id="medewerkersTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)" scope="col">Naam</th>
                <th onclick="sortTable(1)" scope="col">Score</th>
                <th onclick="sortTable(2)" scope="col">Beschrijving</th>
                <th onclick="sortTable(3)" scope="col">Laatst gewijzigd</th>
            </tr>
        </thead>
        <tbody>
            @foreach (RatingVM r in Model.Ratings)
            {
                <tr>
                    <td>
                        <a >
                            @r.Vaardigheid.Naam
                        </a>
                    </td>
                    <td>
                        @for (int i = 0; i < r.Score; i++)
                        {
                            <span class="fa fa-star checked"></span>
                        }
                    </td>
                    <td>
                        @r.Beschrijving
                    </td>
                    <td>
                        @r.LaatsteDatum.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                            <div class="dropdown">
                                <button class="btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="bi bi-three-dots-vertical"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <button type="button" class="dropdown-item" data-toggle="ajax-modal" data-target="#vaardigheidToevoegen" data-url="@Url.Action("VaardigheidEdit", "Admin", new {VaardigheidId = r.Vaardigheid.Id})">
                                            Wijzig vaardigheid
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="dropdown-item" data-toggle="ajax-modal" data-target="#vaardigheidToevoegen" data-url="@Url.Action("VaardigheidVerwijderen", "Admin", new {VaardigheidId = r.Vaardigheid.Id})">
                                            Verwijder vaardigheid
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#vaardigheidToevoegen" data-url="@Url.Action("VaardigheidToevoegen", "Admin")">
        Nieuwe vaardigheid
    </button>

</body>


